<b-container class="content">
  <b-row>
    <h1>Gifs Search Tool</h1>
  </b-row>
  <b-row>
    <b-col cols="3" class="content">
      <div>
        <input v-model="searchTerm" v-on:keyup.enter="searchGif" type="text" placeholder="Enter search term here" />
        <p>current search term: <b>{{ searchTerm }}</b></p>
        <button v-on:click="searchGif">Search</button>
      </div>
    </b-col>
    <b-col class="content">
      <ol>
        <li v-for="item in items">
          <h3>{{item.title}}</h3>
          <div>
            <img :src="item.images.original.url" />
          </div>
        </li>
      </ol>
    </b-col>
  </b-row>
</b-container>